*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Glory", sans-serif;
}
nav{
    padding: 12px;
    box-shadow: 0px 0px 2px 2px #32323212;
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #323232;
    font-size: 20px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: calc(100vh - 58px - 66.67px);
    margin: auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin: auto;
    text-align: center;
}
.main__title{
    text-transform: capitalize;
    font-size:3rem;
}
.main__text{
    font-size: 1.4rem;
    line-height: 1.4;
    width: auto;
    padding: 12px
}
.main__ref{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}
.main__ref a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #097edb;
    color: white;
    letter-spacing: 1px;
    border-radius: 6px;
    width: fit-content;
}
.main__ref a:hover{
    background-color: #097ddb9c;
}
@media (max-width: 500px) {
    .main {
        width: 100%;
    }
}
.footer
{
    padding: 12px;
}
.footer .foot
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.footer .foot p a
{
    text-decoration: none;
    color: #097edb;
}
.footer .foot p a:not(:last-child)::after
{
    content: " | ";
}
.footer .foot p a:hover
{
    color: #044b85;
}